%h3
  Question: '#{@question.title}'

- if @question.user == current_user
  = link_to 'Edit Question', edit_question_path(@question)
  = link_to 'Destroy Question', question_path(@question), :method => :delete

= render 'answers/index'