- if @answer.errors.any?
  %div.form-group
    %label.col-sm-4
    %div.col-sm-8
      %div#error_explanation
        %ul
          - @answer.errors.full_messages.each do |message|
            %li
              = message
