%nav{ class: 'navbar navbar-default navbar-fixed-top', role: 'navigation' }
  %div{ class: 'navbar-header'}
    %button.some{ type: 'button', class: 'navbar-toggle', 'data-toggle': 'collapse', 'data-target': '#bs-example-navbar-collapse-1' }
      %span{ class: 'sr-only' } Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand.some{ href: root_path }
      Test StackOverFlow
  %div{ class: 'collapse navbar-collapse', id: 'bs-example-navbar-collapse-1'}
    %ul{ class: 'nav navbar-nav navbar-right' }
      - if user_signed_in?
        %li.dropdown
          %a{ href: '#', class: 'dropdown-toggle', 'data-toggle': 'dropdown' }
            = current_user.email
            %strong{ class: 'caret' }
          %ul.dropdown-menu
            %li
              = link_to :Logout, destroy_user_session_path, method: :delete
      - else
        %li
          = link_to :LogIn, new_user_session_path
        %li
          = link_to :SignUp, new_user_registration_path